<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <% if (language !== 'pl') { %>
    <a href="/pl"><%= languages.pl %></a>
  <% } %>
  <% if (language !== 'en') { %>
    <a href="/en"><%= languages.en %></a>
  <% } %>
  <% if (language !== 'ru') { %>
    <a href="/ru"><%= languages.ru %></a>
  <% } %>

  <p><%= content %></p>
</body>
</html>